/* src/components/Common/SearchBox/SearchBox.module.css */

:root {
    --ebay-blue: #0071eb;
}

.searchContainer {
    display: flex;
    flex-grow: 1; /* Permette alla barra di ricerca di occupare lo spazio centrale */
    max-width: 600px;
    margin: 0 40px;
    border: 3px solid var(--ebay-blue);
    border-radius: 4px;
    overflow: hidden; 
}

.searchInput {
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    outline: none;
}

.searchButton {
    background-color: var(--ebay-blue);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.searchButton:hover {
    background-color: #0056b3;
}